$card-colors: (
	red: rgba(231, 52, 48, 1),
	blue: rgba(2, 102, 173, 1),
	green: rgba(73, 164, 84, 1),
	yellow: rgba(245, 210, 33, 1)
)

.card {
	position: relative;
	flex: 0 0 auto;
	height: 20vh;
	width: 16vh;
	margin: 0 1rem 0 1rem;
	border-radius: 0.6rem;
	border: 0.1rem solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);

	&:hover {
		box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
	}

}

@each $color, $rgba in $card-colors {
	.#{$color} {
		background-color: #{$rgba};
	}
}

.hidden {
	display: none;
}
