@font-face {
	font-family: 'Cimbrian';
	src: url('Cimbrian.ttf')	format('truetype');
}

:root {
	--card-height: 21vh;
	--card-width: 15vh;
	--card-radius: 2.44vh;
	--card-scale: 1;
	--opponent-card-inset: 0.5; /* 0.5 == cards are inset by 50% */
	--opponent-card-scale: 50%;
	--card-container-padding: 3vh;
	--card-hover-offset: 1vh;
	--gametable-color: white;
	--card-container-color: rgba(193, 154, 107, 1);
}

* {
	box-sizing: border-box;
	overflow: hidden;
}

html, body, body > div {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	width: 100vw;
	background-color: var(--gametable-color);
}

main {
	height: calc(100vh - (((var(--card-height) / 2) + (2 * var(--card-container-padding))) * var(--opponent-card-inset)) * 4.3 + 2px);
	width: calc(100vw - (((var(--card-height) / 2) + (2 * var(--card-container-padding))) * var(--opponent-card-inset)) * 2 + 2px);
	position: absolute;
	left: calc(((var(--card-height) / 2) + (2 * var(--card-container-padding))) * var(--opponent-card-inset) - 1px);
	top: calc(((var(--card-height) / 2) + (2 * var(--card-container-padding))) * var(--opponent-card-inset) - 1px);
	display: flex;
	background-color: var(--gametable-color);
}

#player, #opponent-top {
	height: 25vh;
	width: 100vw;
}

#opponent-left, #opponent-right {
	height: 25vh;
	width: 87.5vh;
}

#player {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	height: min-content;
}

#opponent-left {
	position: absolute;
	left: 0;
	top: 0;
	transform-origin: top left;
	transform: rotate(90deg) translate(0%, calc((100% * var(--opponent-card-inset)) - 100%));
	z-index: 2;
	height: min-content;
}

#opponent-top {
	position: absolute;
	left: 50%;
	top: 0;
	transform-origin: top;
	transform: rotate(180deg) translate(50%, calc((100% * var(--opponent-card-inset)) - 100%));
	height: min-content;
}

#opponent-right {
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: top right;
	transform: rotate(-90deg) translate(0%, calc((100% * var(--opponent-card-inset)) - 100%));
	z-index: 2;
	height: min-content;
}

.opponent {
	top: 0;
}

.opponent > .card {
	height: calc(var(--card-scale) * var(--card-height) / 2);
	width: calc(var(--card-scale) * var(--card-width) / 2);
	font-size: 2rem;
	border-radius: 0.75rem;
}

.cards-container {
	display: flex;
	flex-direction: row-reverse;
	background-color: var(--card-container-color);
	justify-content: center;
	align-items: center;
	padding: var(--card-container-padding);
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
	transition: 0s;
}

.card {
	position: relative;
	flex: 0 0 auto;
	height: calc(var(--card-scale) * var(--card-height));
	width: calc(var(--card-scale) * var(--card-width));
	margin: 0 1rem 0 1rem;
	border-radius: calc(var(--card-scale) * var(--card-radius));
	border: 0.2rem solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Cimbrian', Fallback, Serif;
	font-size: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	bottom: 0; /* If this isn't here, the transition-duration breaks */
	transition: 0.1s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#player > .card:hover {
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
	bottom: 1vh;
	transition: 0.1s;
}

.red {
	background-color: rgba(231, 52, 48, 1);
}

.blue {
	background-color: rgba(2, 102, 173, 1);
}

.yellow {
	background-color: rgba(245, 210, 33, 1);
}

.green {
	background-color: rgba(73, 164, 84, 1);
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#title {
	background-image: url('amish-country.jpg');
	background-size: cover;
}

input, button {
	padding: 0.8rem;
	border-radius: 0.4rem;
	border: solid 0.2rem rgba(0, 0, 0, 0.4);
	font-size: 2em;
}

input[type='text'] {
	background-color: rgba(255, 255, 255, 0.8);
}

button {
	background-color: rgba(34, 139, 34, 0.8);
	color: rgba(255, 255, 255, 0.8);
}

#game-blurb {
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translate(-50%);
}

#game-blurb, #game-select, #gamecode {
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgba(32, 29, 24);
}

#join-game, #create-game {
	width: 20rem;
	text-align: center;
}

#nickname {
	width: 30rem;
	text-align: center;
}

#gamecode {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding: 0.5rem;
	font-size: 2em;
	z-index: 1000;
}

#game-table {
	flex: 1 0 auto;
	margin: 1rem;
	background-color: rgba(0, 0, 0, 0.0);
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	place-items: center;
}

.clear {
	width: unset;
	height: unset;
	min-width: 5rem;
	min-height: 5rem;
	margin: 0;
	border-radius: 0;
	border: 0;
	box-shadow: unset;
	background-color: unset;
	transition: 0s;
	padding: 1rem;
}

.clear > .card {
	margin: 0;
}

#player > .card:first-child {
	overflow: initial;
	position: relative;
	bottom: 1vh;
	transition: 0.1s;
}

#player > .card:first-child::before,
#player > .card:first-child::after {
	content: "";
	position: absolute;
	height: 103%;
	width: 103%;
	border: 0.2rem solid rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
	background-color: #eee;
	border-radius: inherit;
}

#player > .card:first-child::before {
	top: 0.1rem;
	left: -0.2rem;
	transform: rotate(-4deg);
	z-index: -1;
	transition: 0.1s;
}

#player > .card:first-child::after {
	top: 0.2rem;
	left: -0.1rem;
	transform: rotate(3deg);
	z-index: -2;
	transition: 0.1s;
}

#player > .card:first-child:hover {
	bottom: calc(1vh + var(--card-hover-offset));
	transition: 0.1s;
}

#player > .card:first-child:hover::before {
	top: calc(var(--card-hover-offset) + 0.1rem + 0.2vh);
	transition: 0.1s;
}

#player > .card:first-child:hover::after {
	top: calc(var(--card-hover-offset) + 0.2rem + 0.2vh);
	transition: 0.1s;
}

.hide-1st-card::before {
	display: none;
}

.hide-2nd-card::after {
	display: none;
}

#player > .card:first-child.hide-1st-card.hide-2nd-card {
	bottom: 0;
}

#player > .card:first-child.hide-1st-card.hide-2nd-card:hover {
	bottom: 1vh;
}

#wood-pile-container {
	position: absolute;
	bottom: 1vh;
	left: 1vh;
	display: flex;
	flex-direction: column;
	padding: 1vh;
	z-index: 7;
	transform-origin: bottom left;
	transform: scale(0.75);
	overflow: initial;
}

#wood-pile {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: initial;
}

#wood-pile > .card:first-child {
	transform-origin: bottom;
	transform: translate(9vh) rotate(-20deg);
}

#wood-pile > .card:last-child {
	transform-origin: bottom;
	transform: translate(-9vh) rotate(20deg);
}

#new-wood-cards {
	width: 20vh;
	background: white;
	padding: 1vh;
	margin: auto;
	margin-top: auto;
	margin-top: 3vh;
	font-size: 2rem;
	text-align: center;
}
